RHT_OCP4_MASTER_API=https://api.ocp-na2.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-na2.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=273e1ef4-efd6-49c4-bd46-cdee8d9cfb03
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-na2.prod.nextcle.com
RHT_OCP4_DEV_USER=jthompki-redhat-com
RHT_OCP4_DEV_PASSWORD=be7cf384c86e4e7bb670
RHT_OCP4_GITHUB_USER=jthompkins
RHT_OCP4_QUAY_USER=jthompkins
